<!DOCTYPE html>

<html>

<head>
    <title>smartWill - Sobre nós</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #about-link {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Todos os anos, milhões de reais são perdidos em contas bancárias e de investimentos no Brasil e essa realidade se repete por todo o globo. Enquanto famílias <i>high-net-worth</i> tem acesso às mais diversas ferramentas e soluções de planejamento sucessório, as famílias de classes média e média-baixa são as que mais sofrem com essa realidade, sendo que os custos e a complexidade da elaboração de instrumentos legais apropriados inviabilizam um planejamento adequado.</p>
        <p>O <i>smartWill</i> surgiu da percepção da necessidade de uma ferramenta simples, segura e barata para esse público.</p>
        <p>Trata-se de uma iniciativa sem fins lucrativos desenvolvida por alunos do Inteli - Instituto de Tecnologia e Liderança com o objetivo de reduzir de forma drástica as perdas das famílias brasileiras em momentos sensíveis e inevitáveis.</p>
    </div>
    
    {{>footer}}
</body>

</html>