<!DOCTYPE html>

<html>

<head>
    <title>smartWill - Contato</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #contact-link {
           font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="main" class="main-content">
        {{>header}}
        <p>Todo projeto desenvolvido em <i>blockchain</i> é imutável após ser colocado em produção, o que significa que ele nunca pode ser modificado ou atualizado novamente. Essa é uma das razões pelas quais segurança é um assunto tão relevante quando se trata de <i>smart contracts</i> e é também um dos fundamentos que os tornam tão seguros contra terceiros - você tem total segurança de que toda vez que ele for executado o resultado será o previsto.</p>
        <p>Atualmente, estamos testando uma versão <i>beta</i> do nosso sistema, que deverá ser disponibilizada aos interessados durante o quarto trimestre do ano corrente.</p>
        <p>Caso queira conhecer melhor nosso produto, se manter informado ou tenha alguma sugestão, comentário ou interesse em contribuir com o projeto, não deixe de informar seu e-mail no campo abaixo e teremos prazer em interagir com o objetivo de melhorar nossa solução.</p>

        <form id="form" method="submit">
            <p>
            <label for="email">E-mail:</label>
            <input id="email" class="email" type="email" placeholder="Informe seu e-mail">
            </p>
            <p>
            <label for="msg">Deixe sua mensagem (até 500 caracteres):</label>
            <textarea id="msg" class="msg" cols="30" rows="10" maxlength="500" form="form" placeholder="Deixe sua mensagem."></textarea>
            </p>
            <input type="submit" value="Enviar">
        </form>
        <div>
        <h4  id="response"></h4>
        </div>
    </div>
    
    {{>footer}}
    <script src="/js/scripts.js"></script>
</body>

</html>