<!DOCTYPE html>

<html>

<head>
    <title>smartWill - Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Há apenas uma geração, era comum as pessoas possuírem contas bancárias em um ou dois grandes bancos e investirem a maior parte dos seus recursos em propriedades físicas.</p>
        <p>Hoje em dia, a tendência é a manter contas em diversos bancos físicos e digitais, possuir múltiplos cartões de crédito, além de ativos financeiros em corretoras, carteiras de criptomoedas, contas no exterior, dentre outras diversas opções disponíveis.</p>
        <p>Possuir um patrimônio descentralizado oferece diversas vantagens, incluindo um maior nível de segurança, uma vez que torna-se mais difícil para um adversário se apoderar dos bens em questão, seja por meio de um ataque físico ou cibernético. Porém, o que acontece com seu patrimônio quando você morre? Como proteger seu cônjuge, seus filhos e todos aqueles que você ama?</p>
        <p>Exceto para grandes fortunas, a elaboração de testamentos é algo caro e complexo. Por outro lado, deixar uma lista de ativos e informações confidenciais com familiares pode ser algo desconfortável tanto para quem fornece a informação como para quem recebe a responsabilidade de preservá-la.</p>
        <p>Pensando nesse problema, o smartWill é uma solução que busca viabilizar a elaboração de testamentos paralegais de forma segura com base na tecnologia de blockchain. Através do uso de <i>smart contracts</i> e algoritmos de criptografia e <i>hash extension</i>, é possível garantir que as pessoas indicadas recebam a informação desejada no momento apropriado.</p>
    </div>

    {{>footer}}
</body>

</html>