<!DOCTYPE html>

<html>

<head>
    <title>smartWill - O Produto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #product-link {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Ao contratar um smartWill, você deverá escolher o plano desejado, tendo como opções os planos de três meses, seis meses, um ano e dois anos. A duração indica o momento em que os seus sucessores irão receber o comunicado da existência do testamento e as instruções necessárias para acessá-lo. Previamente à expiração do prazo contratado, você receberá comunicações por e-mail, SMS e <i>whatsapp</i> indicando que a data de envio se aproxima, sendo possível cancelar o envio e renovar o período de contrato.</p>
        <p>Como nosso sistema não possui banco de dados, garantimos que nenhuma informação é armazenada em nossos servidores, sendo que todo e qualquer dado é armazenado exclusivamente em uma blockchain pública, após passar por tratamentos de criptografia prévios que garantem a incorruptibilidade dos dados por terceiros.</p>
        <p>O processo de tratamento prévio engloba uma camada de criptografia proprietária, na qual são utilizados uma chave de 16 dígitos escolhida pelo cliente e uma chave de 32 dígitos automaticamente gerada pelo nosso sistema. Para que o testamento seja disponibilizado, é necessário que o contratante informe sua chave privada aos seus sucessores, que será utilizada ao acessar nosso site, juntamente com a chave de 32 dígitos, recebida por e-mail, conforme explicação acima.</p>
        <p class="ui-link"><a target="_blank" href="http://www.smartwill-ui.com.br">Acessar ambiente de testes</a></p>
    </div>

    {{>footer}}
</body>

</html>