<header>
    <h1><a href="/">{{title}}</a></h1>

    <a id="product-link" href="/produto">O Produto</a>
    <a id="about-link" href="/sobre">Sobre</a>
    <a id="contact-link" href="/contato">Contato</a>
</header>