body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
    letter-spacing: 2px;
}

header h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header h1 a {
    color: black;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

p {
    text-align: justify;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

footer p {
    text-align: right;
}

.ui-link {
    margin-top: 24px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ui-link a {
    padding: 12px;
    border-radius: 5%;
    text-decoration: none;
    background-color: #e0e1e2;
    color: rgba(0,0,0,.6);
    font-weight: bold;
}

.btn a {
    text-decoration: none;
    color: #fff;
}